<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="data_provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Provider</th>
      <td mat-cell *matCellDef="let row">{{row.data_provider}}</td>
    </ng-container>

    <ng-container matColumnDef="parent_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent ID</th>
      <td mat-cell *matCellDef="let row">{{row.parent_id}}</td>
    </ng-container>

    <ng-container matColumnDef="parent_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Amount</th>
      <td mat-cell *matCellDef="let row">{{row.parent_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="parent_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Email</th>
      <td mat-cell *matCellDef="let row">{{row.parent_email}}</td>
    </ng-container>

    <ng-container matColumnDef="status_code_2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Code</th>
      <td mat-cell *matCellDef="let row">
        <small>{{ row.status_code }}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="status_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <span class="status-badge status-badge--{{ getStatusCase(row.status_code) }}">
          {{ getStatusCase(row.status_code) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let row">{{row.currency}}</td>
    </ng-container>

    <ng-container matColumnDef="registeration_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registeration Date</th>
      <td mat-cell *matCellDef="let row">{{row.registeration_date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
